@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/NotoSerif/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/NotoSerif/NotoSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/NotoSerif/NotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('/fonts/NotoSerif/NotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

:root {
    --font-body: 'NotoSerif', ui-serif, serif;
    --h1-font-size: 1.5em;
    --h2-font-size: 1.2em;
    --hx-font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-body);
}

.header-title {
  font-size: 2em;
}